{% extends 'base.html' %}
{% block content %}

    {% load static %}
    <link rel="stylesheet" type ="text/css" href ="{% static 'edit.css'%}"/>

        <div class = "bg"> 
        <img class ="img" src = "https://user-images.githubusercontent.com/69626443/117586470-67fd7d80-b153-11eb-9a73-01c3485f2831.png" height = "15%">
    </div>
    
    <form class = "input" action="" method="post">
        {% csrf_token %}
            <div class="format">
                <label for="title">Title</label>
                <input class ="area" type="text" id="title" name="title" placeholder=".">
            </div>
            <p>---------------------------------------------</p>
            <div class="format">
                <label for="content">Contents</label>
                <textarea class ="area" name="content" id="content" cols="30" rows="8" placeholder="."></textarea>
            </div>
            <p>---------------------------------------------</p>
            <div class="format">
                <label for="date">date</label>
                <input class ="area" type="date" id="date" name="date" placeholder="마감 기한">
            </div>
            <p>---------------------------------------------</p>
            <button class ="button" type="submit">Submit</button>

    </form>

{% endblock content %}