*{
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Source Code Pro', monospace;
    /* font-weight: 400; */
}

a{ text-decoration: none; color: black; }

body{
    display: flex;
    /* align-items: center; */
}

.bg{
    background: black;

}

.img{
    margin : 0% 0% 0% 6%; 
    position: relative;
}

.input{
    position : absolute;
    /* display: flex; */
    margin : 30px 30px;
    margin-top: 240px;
    margin-left : 530px;
    font-size : 11px;
}
.area{
    outline: none;
    overflow: auto;
    /* width: 550px;
    height: 250px; */
    box-sizing: border-box;
    padding: 5px; 
    /* border : solid 1px black; */
    border : none;
    background-color: transparent;
    color : black;
    font-family: inherit;
}

.format{
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
}

.button{
    /* position: absolute; */
    border: none;
    background-color: transparent;
    color: black;
    /* text-align: left; */
    /* margin-left:235px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-end; */

}

.bold{
    font-weight: 600;

}

.comments{
    display: inline;
    flex-direction: row;

}    
