{% load static %}
{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}?v=0.1">
  {% block css %}
  {% endblock css %}
  <title>My Blog</title>
</head>

<body>
  <div class="contatiner">
    <div class = "bg"> 
      <img class ="img" src = "https://user-images.githubusercontent.com/69626443/117586470-67fd7d80-b153-11eb-9a73-01c3485f2831.png" height = "15%">
    </div>
    {% block content %}
    {% endblock content %}
  </div>
</body>