{% extends 'base.html' %}
{% block content %}

    {% load static %}
    <link rel="stylesheet" type ="text/css" href ="{% static 'edit.css'%}"/>


    <div class = "bg"> 
        <img class ="img" src = "https://user-images.githubusercontent.com/69626443/117586470-67fd7d80-b153-11eb-9a73-01c3485f2831.png" height = "15%">
    </div>
    
    <div class = "input">
        <div class="format">
            <p class ="bold">Title</p>
            <p>{{ post.title }}</p>
            <br>
        </div>
        <p>---------------------------------------------</p>
        <div class="format">
            <p class ="bold">Contents</p>
            <p>{{ post.content }}</p>
            <br>
        </div>
        <p>---------------------------------------------</p>
        <div class="format">
            <p class ="bold" >Date</p>
            <p>{{ post.date }}</p>
            <br>
        </div>
        <p>---------------------------------------------</p>
    
        {% if user.is_authenticated %}
        <form class ="comments" method="POST">
            {% csrf_token %}
            {% comment %} <img class ="img" src ="{% random %}"> {% endcomment %}
            {% comment %} <img class ="img" src = "{% static 'images/1.png' %}" height = "100px"> {% endcomment %}
            {% comment %} <img class ="img" src = "{{ MEDIA_URL }}{% random_image %}" height = "100px"> {% endcomment %}
            <input class = "area" type="text" name ="content" placeholder="comment">
            <button class = "button" type="submit"> > </button>
        </form>
        {% endif %}

            {% for comment in post.comments.all %}
            <li>{{ comment.content }}

                {% if user.is_authenticated and comment.author.pk == user.pk %}
                <a href="{% url 'delete_comment' post.pk comment.pk %}">delete</a></li>
                {% endif%}
            {% endfor %}


            <br>

            <div class ="button">
                <a class ="bold" href="{% url 'home' %}">Home</a>
                {% if user.is_authenticated and post.author.pk == user.pk %}
                <a class ="bold" href="{% url 'edit' post.pk %}">Edit</a>
                <a class ="bold" href="{% url 'delete' post.pk %}">Delete</a>
                {% endif%}
            </div>

     </div>

{% endblock content %}
