{% extends 'base.html' %}
{% block content %}

    {% load static %}
    <link rel="stylesheet" type ="text/css" href ="{% static 'home.css'%}"/>

    <div class = "input">
        <p>ORDER #8853 FOR GAHYUN KIM</p>
        <p>May 10, 2021</p>
        <br>
        <p>---------------------------------------------</p>
        <br>
        <ul class ="list">
            {% for post in posts %}
            <!-- 파이썬 변호는 중괄호가 두개 -->
            <li class ="item">
                <a class ="bold" href="{% url 'detail' post.pk %}">{{ post.title }}</a>
                <p class ="date" id="due">{{ post.date }}</p>     
            </li>
            <br>
            {% endfor %}
        </ul>
        <p>---------------------------------------------</p>
        <br>
        <div class ="item">
        <p>total</p>
        <!-- <p>{{ post.count }}</p> -->
        </div>
        <br>
        <p>---------------------------------------------</p>        
        <br>
        <a class = "bold" href="{% url 'new' %}">Add +</a>
    </div>

{% endblock content %}
