*{
    margin: 0;
    /* box-sizing: border-box;  */
    font-family: 'Source Code Pro', monospace;
    /* font-weight: 400; */
}

a{ text-decoration: none; color: black; }

body{
    display: flex;
    background-color: black;
    /* align-items: center; */
}



.input{
    position : absolute;
    margin : 30px 30px;
    margin-top: 240px;
    margin-left : 650px;
    font-size : 11px;
}

.list{
    list-style-type:none;
    padding-left: 0;
}

.item{
    display: flex;
    justify-content: space-between;
}


.date{
    text-align:left;
}

.bold{
    font-weight: 600;
}