
{% extends 'base.html' %}
{% block content %}


    <div class = "bg"> 
        <img class ="img" src = "https://user-images.githubusercontent.com/69626443/117586470-67fd7d80-b153-11eb-9a73-01c3485f2831.png" height = "15%">
    </div>
    
    <h1> 로그인 </h1>
    {% if error %}
    <h3 style ="color : red;">{{ error }}</h3>
    {% endif %}


    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="이름">
        <input type="password" name="password" placeholder="비밀번호">
        <button type="submit">로그인</button>
    </form>
{% endblock content %}